/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
 jquery.mb.components

 file: mb.slider.css
 last modified: 11/20/17 8:54 PM
 Version:  {{ version }}
 Build:  {{ buildnum }}

 Open Lab s.r.l., Florence - Italy
 email:  matteo@open-lab.com
 blog: 	http://pupunzi.open-lab.com
 site: 	http://pupunzi.com
 	http://open-lab.com

 Licences: MIT, GPL
 http://www.opensource.org/licenses/mit-license.php
 http://www.gnu.org/licenses/gpl.html

 Copyright (c) 2001-2018. Matteo Bicocchi (Pupunzi)
 :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.mb_slider {
    position: relative;
    width: 100%;
    padding: 10px 0 10px 10px;
    z-index: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    -webkit-user-select: none;
}

.mb_slider *:not(.mb_sliderBar):not(.mb_sliderHandler) {
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}

.mb_sliderBar {
    background-color: #fafafa;
    height: 7px;
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px;
    border-radius: 4px;
    cursor: default;
}

.mb_sliderHandler {
    position: absolute;
    top: 0px;
}

.mb_sliderEnd,
.mb_sliderStart,
.mb_sliderValue {
    padding: 7px;
    position: relative;
    text-align: right;
    top: -5px;
    margin: 3px;
    min-width: 50px;
    color: #AAA;
    white-space: nowrap;
    cursor: default;
}

.mb_sliderStart {
    text-align: right;
    position: absolute!important;
    top: 30px !important;
    left: -30px !important;
}

.mb_sliderEnd {
    text-align: left;
    position: absolute!important;
    top: 30px !important;
    right: -11px !important;
}

.mb_sliderRange {
    position: absolute;
    height: 100%;
    margin: 0;
    top: 0;
    background: #ffcc00;
    border-radius: 4px 0 0 4px;
    cursor: default;
}

.mb_sliderZero {
    background-color: #fafafa;
    position: absolute;
    height: 100%;
    margin: 0;
    top: 0;
    border-radius: 4px 0 0 4px;
    cursor: default;
}

.mb_sliderZeroLabel {
    font: 12px/12px Arial, sans-serif;
    color: #AAA;
    padding: 5px;
    background-color: #fff;
    margin-left: -4px;
    z-index: -2;
    border-radius: 4px;
    margin-top: -5px;
}

.mb_sliderValueLabel {
    font: 16px/12px Arial, sans-serif;
    text-align: center;
    z-index: -1;
    margin-top: 50px;
    min-width: 20px;
}

.mb_sliderValueLabel.right {
    left: auto!important;
    right: -15px!important;
}

.mb_sliderValueLabel.left {
    left: -15px!important;
    right: auto!important;
}

.mb_sliderValueLabel.right:after {
    left: auto;
    right: 10px;
    margin: auto;
}

.mb_sliderValueLabel.left:after {
    right: auto;
    left: 10px;
    margin: auto;
}