/* ========== header ========= */


/****** navbar ******/

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf")
}

@font-face {
    font-family: "Robotolight";
    src: url("../font/Roboto-Light.ttf")
}

@font-face {
    font-family: "Robotobold";
    src: url("../font/Roboto-Bold.ttf")
}

body,
.row,
.container-fluid {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

p {
    margin: 0;
}

.topnav {
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.6);
    background-color: #ffffff;
    z-index: 1;
}

.topnav a {
    float: right;
    display: block;
    color: #1d2c51;
    text-align: center;
    padding: 40px 15px;
    text-decoration: none;
    font-family: "Roboto";
    font-size: 24px;
}

.topnav a:first-child {
    background-color: #40AF28;
    color: white!important;
}

.topnav a:hover {
    background-color: #40AF28;
    color: white;
}


/* .topnav a.active {
background-color: #40AF28;
color: white;
} */

.topnav .icon {
    display: none;
}

@media screen and (max-width: 1024px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: left;
        display: block;
        color: #40AF28;
        font-size: 24px;
        z-index: 10000;
    }
    .topnav a.icon:hover {
        color: white;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        left: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.topnav.responsive a:first-child {
        /* background-color: transparent;
    color: black!important; */
        margin-left: 50px;
    }
}

.logo {
    width: 245px;
    margin-top: 40px;
    margin-left: 100px;
}

@media screen and (max-width: 768px) {
    .topnav {
        text-align: center;
    }
    .topnav a {
        padding: 30px 15px;
    }
    /* .topnav a:first-child:hover{
    background-color: #40AF28;
    color: white!important;
} */
    .logo {
        width: 200px;
        margin-top: 20px;
        margin-left: 0;
    }
}

@media screen and (max-width: 576px) {
    .topnav a {
        display: none;
        padding: 20px 15px;
    }
}


/* ========== Section ========= */


/****** girl row  css ******/

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}


/* Slideshow container */

.slideshow-container {
    position: relative;
    margin: auto;
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 30px 0;
    background-color: #113b47;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.dots {
    position: absolute;
    top: 170px;
    left: 50px;
    z-index: 9999;
}

.dot.active,
.dot:hover {
    background-color: #40af28;
    ;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    opacity: 1!important;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 1024px) {
    .dot {
        margin: 15px 0;
        width: 9px;
        height: 9px;
    }
    .dots {
        top: 140px;
    }
}

.girl_row {
    position: relative;
}

.girl_row01 {
    padding: 12% 0 0 10%;
}

@media only screen and (max-width: 768px) {
    .dots {
        left: 20px;
        top: 100px;
    }
    .girl_row01 {
        padding: 7% 0 0 6%;
    }
}

.Consigue-tu-crdito {
    font-family: 'Robotolight';
    font-size: 57px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00033d;
}

.Desde-100000 {
    font-family: 'Robotobold';
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00033d;
}

.Crditos-para-tu-neg {
    font-family: 'Robotolight';
    font-size: 32px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00033d;
}

.sin-comisiones-y-sin {
    font-family: 'Robotobold';
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00033d;
}

.girl_small_div {
    margin-top: 50px;
}

.girl_row img {
    width: 50%;
}


/* Landscape & Portrait */

@media screen and (max-width: 1024px) {
    .girl_small_div {
        margin-top: 30px;
    }
    .Consigue-tu-crdito {
        font-size: 31px;
    }
    .Desde-100000 {
        font-size: 41px;
    }
    .Crditos-para-tu-neg {
        font-size: 27px;
    }
    .sin-comisiones-y-sin {
        font-size: 22px;
    }
}


/* Smart phone */

@media screen and (max-width: 576px) {
    .girl_small_div {
        margin-top: 0;
    }
    .girl_row img {
        width: 100%;
        position: absolute
    }
    .girl_row01 {
        padding: 83% 0 0 8%;
    }
    .blank_div {
        padding: 100px;
    }
    .Consigue-tu-crdito {
        position: absolute;
        top: 54%;
        right: 20%;
        font-size: 17px;
        z-index: 1;
    }
    .Desde-100000 {
        position: absolute;
        right: 18%;
        top: 62%;
        z-index: 1;
        font-size: 22px;
    }
    .Crditos-para-tu-neg {
        position: absolute;
        top: 75%;
        right: 29%;
        font-size: 9px;
        z-index: 1;
    }
    .sin-comisiones-y-sin {
        position: absolute;
        top: 78%;
        right: 19%;
        font-size: 11px;
        z-index: 1;
    }
}


/* calculation row */

.calculation_row {
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
}

.calculation_div {
    margin: 0 20% 0 7%;
    padding: 20px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.28);
    z-index: 9999;
}

.calculation_div01 {
    padding-bottom: 250px;
}

.calculation_div02 {
    margin-top: 10px;
    padding-bottom: 70px;
}

.Quiero-pagarlo-en {
    display: none;
    font-family: 'Robotobold';
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1d2c51;
}

.calculation_row p {
    font-family: 'Robotobold';
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1d2c51;
}

.min_price {
    float: left;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1d2c51;
    margin-right: 10%;
}

.max_price {
    float: right;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1d2c51;
    margin-right: 30px;
}

.percent_slider_div {
    float: left;
    width: 67%;
}

.percent_scroll_div {
    text-align: center;
    float: left;
    width: 33%;
}

.percent_scroll_div02 {
    text-align: center;
    float: left;
    width: 33%;
    margin-top: 25px;
    padding-top: 20px;
    border-top: 1px solid #979797;
}

.mbslider_div {
    float: left;
    width: 67%;
    margin-top: 25px;
    padding-top: 20px;
    border-top: 1px solid #979797;
}

.my_slider1 {
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    border: solid 1px #979797;
}

.mb_slider_marker01,
.mb_slider_marker02,
.mb_slider_marker03,
.mb_slider_marker04 {
    position: absolute;
    bottom: -20px;
}

.mb_slider_marker01 {
    left: -25px;
}

.mb_slider_marker02 {
    left: 25%;
}

.mb_slider_marker03 {
    left: 57%;
}

.mb_slider_marker04 {
    right: 0;
}

.percent_value {
    font-size: 30px!important;
    font-weight: normal!important;
}

.Tasa-sujeta-a-condic,
.mensuales {
    font-size: 16px!important;
    font-weight: normal!important;
    color: #979797!important;
    font-family: 'Roboto'!important;
}

.total_price {
    font-size: 24px!important;
    font-weight: normal!important;
    margin-top: 10px;
}

.Quiero-iniciar-mi-s {
    font-family: 'Robotobold';
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    background-color: #40af28;
    border-radius: 36px;
    padding: 10px 30px;
    margin: 30px auto;
    border: none;
}

.Quiero-iniciar-mi-s:focus {
    outline: none;
}

.percent_scroll_div01 {
    padding: 20px 5px 10px;
    border: 1px solid #999999;
    border-radius: 10px;
    margin-top: 10px;
}


/* ----------------- volumn slider css definition --------------*/

.my_slider1 {
    margin-top: 25px;
}

.my_display1 {
    font-family: 'Robotobold';
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1d2c51;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    background: #113b47;
    color: white;
    margin-top: -10px;
    border-radius: 20px;
    width: 190px;
    height: 40px;
    text-align: center;
    font-size: 24px;
}

.ui-slider-handle:focus {
    outline: none;
}

.ui-slider-horizontal {
    height: 1px;
}

.ui-widget.ui-widget-content {
    border: 4px solid #d9d9d9;
    width: 90%;
    margin-top: 35px;
}

.ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #d9d9d9;
    color: #222222;
}

.mb_sliderRange {
    background: #113b47!important;
}

.mb_sliderValueLabel {
    top: -22px!important;
    display: none!important;
}


/* Landscape */

@media screen and (max-width: 1024px) {
    .Tasa-sujeta-a-condic,
    .mensuales {
        font-size: 12px!important;
    }
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-button,
    html .ui-button.ui-state-disabled:hover,
    html .ui-button.ui-state-disabled:active {
        margin-top: -5px;
        width: 147px;
        height: 29px;
        font-size: 18px;
    }
    .mb_slider_marker01 {
        left: -5px;
    }
    .mb_slider_marker02 {
        left: 23%;
    }
    .mb_slider_marker03 {
        left: 53%;
    }
}

@media screen and (max-width: 845px) {
    .ui-widget.ui-widget-content {
        border: 5px solid #d9d9d9;
        width: 70%;
    }
}


/* Portrait */

@media screen and (max-width: 768px) {
    .calculation_row {
        width: 100%;
    }
    .percent_scroll_div {
        text-align: unset
    }
    .percent_scroll_div01 {
        padding: 0 5px 10px;
        border: none;
    }
    .my_slider1 {
        padding: 0;
        margin-top: 10px;
        border: none;
    }
    .Tasa-sujeta-a-condic,
    .mensuales {
        margin-top: 10px;
    }
    .calculation_div {
        margin: 0 32px 0 20px;
    }
    .calculation_div01 {
        border-bottom: none;
    }
    .Quiero-iniciar-mi-s {
        font-size: 20px;
        padding: 23px;
    }
    .ui-widget.ui-widget-content {
        width: 85%;
    }
    .mb_slider_marker02 {
        left: 25%;
    }
    .mb_slider_marker03 {
        left: 52%;
    }
    .Quiero-pagarlo-en {
        display: block;
    }
    .mbslider_div {
        padding-top: 0;
        border-top: 0;
    }
    .percent_scroll_div02 {
        text-align: unset;
        padding-top: 0;
        border-top: 0;
        margin-top: 0;
    }
}


/* phone */

@media screen and (max-width: 576px) {
    .calculation_div {
        margin: 30px;
        padding: 20px 0;
    }
    .calculation_div01,
    .calculation_div02 {
        padding: 0 15px 427px 15px;
    }
    .ui-widget.ui-widget-content {
        width: 79%;
    }
    .mb_slider_marker01 {
        left: 0;
    }
    .percent_slider_div {
        width: 100%;
    }
    .percent_scroll_div {
        margin-top: 145px;
        width: 100%;
        display: flex;
    }
    .percent_scroll_div02 {
        width: 100%;
        margin-top: 20px;
    }
    .percent_scroll_div01 {
        text-align: right;
        width: 45%;
        margin-top: 0;
    }
    .mbslider_div {
        width: 100%;
        margin-top: -180px;
    }
    .Tasa-sujeta-a-condic,
    .mensuales {
        float: left;
        margin-left: -155px;
        font-size: 16px!important;
    }
    .mensuales {
        display: none!important;
    }
    .Tasa-de-interes {
        margin-top: 10px;
    }
}

@media screen and (max-width: 400px) {
    .meses {
        display: none;
    }
    .mb_slider_marker02 {
        left: 30%;
    }
}


/**** requirement row css ****/

.requirement_box {
    float: left;
    width: 20%;
    padding: 0 10px;
}

.requirement {
    text-align: center;
}

.requirement p {
    font-family: 'Robotolight';
    font-size: 23px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.requirement img {
    height: 90px;
}

.requirement_row {
    margin: 0;
    text-align: center;
    background-color: #113b47;
    position: relative;
    padding: 30px 0 144px;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 42%;
}

.requirement_div {
    margin-top: 20px;
}

.requirement_row:after {
    content: "";
    display: table;
    clear: both;
}

.requirement_title {
    font-size: 67px;
    color: white;
    padding: 0 0 85px;
}

.requirement_title:before {
    content: "";
    display: inline-block;
    background: url("../image/icon01.png") no-repeat;
    width: 44px;
    height: 68px;
}


/* Landscape */

@media screen and (max-width: 1024px) {
    .mask {
        width: 59%;
    }
}


/* Portrait */

@media screen and (max-width: 768px) {
    .requirement_box {
        width: 50%;
        display: block;
        margin-bottom: 20px;
    }
    .requirement_box:last-child {
        width: 100%;
    }
    .requirement_row {
        text-align: center;
        padding: 30px 0 50px;
    }
    .requirement {
        padding: 16px;
        text-align: center;
    }
    .requirement_div {
        display: inline-block;
        vertical-align: middle;
        margin: 20px 0 0 20px;
    }
    .requirement_box:last-child p {
        display: inline-block;
    }
}


/* phone */

@media screen and (max-width: 576px) {
    .requirement_title {
        font-size: 32px;
        padding: 0 0 33px;
    }
    .requirement_title:before {
        width: 24px;
        height: 36px;
        background: url("../image/group-3@4x.png") no-repeat;
    }
    .requirement_div {
        display: block;
    }
    .requirement_box:last-child p {
        display: block;
    }
    .mask {
        width: 100%;
        height: 90%;
        top: 30px;
    }
    .requirement img {
        height: 52px;
    }
    .requirement p {
        font-family: "Roboto";
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        color: #ffffff;
    }
}


/**** Te ayudamos a crecer tu negocio  css ****/

.help_row {
    margin: 0;
    text-align: center;
    position: relative;
    padding: 50px 30px;
}

.Te-ayudamos-a-crecer {
    font-family: "Roboto";
    font-size: calc(12px + 2vw);
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00033d;
    padding-top: 50px;
}

.Tu-pones-las-ideas {
    font-family: 'Robotolight';
    font-size: calc(12px + 2vw);
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00033d;
    padding: 85px 0 0 34px;
}

.nosotros-el-capital {
    font-family: 'Robotobold';
    font-size: calc(17px + 2vw);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00033d;
    padding-left: 34px;
}

.Fcil-y-rpido-invi {
    font-family: 'Robotolight';
    font-size: calc(12px + 1.2vw);
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00033d;
    padding: 66px 0 87px 34px;
}


/*** help css ***/

@media screen and (min-width: 1024px) {
    .help_card01,
    .help_card02,
    .help_card03 {
        height: 330px;
    }
}

@media screen and (min-width: 1200px) {
    .help_card01,
    .help_card02,
    .help_card03 {
        height: 400px;
    }
}

@media screen and (min-width: 1400px) {
    .help_card01,
    .help_card02,
    .help_card03 {
        height: 470px;
    }
}

@media screen and (min-width: 1600px) {
    .help_card01,
    .help_card02,
    .help_card03 {
        height: 540px;
    }
}

.help_card01 {
    width: 31%;
    margin: 6px;
    line-height: 300px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(../image/group-16@3x.png);
    text-align: center;
    border-radius: 20px;
}

.help_div {
    padding-top: 30px;
}

.Para-equipo-de-produ {
    font-family: 'Robotobold';
    font-size: 24px;
    color: #fff;
    position: relative;
    line-height: normal;
    font-weight: bold;
    margin-top: 20px;
}

.production {
    font-family: 'Robotobold';
    font-size: 24px;
    color: #fff;
    position: relative;
    line-height: normal;
    font-weight: bold;
}

.help_card02 {
    height: 100%;
    width: 31%;
    margin: 6px;
    line-height: 300px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(../image/group-18@3x.png);
    text-align: center;
    border-radius: 20px;
}

.help_card03 {
    height: 100%;
    width: 31%;
    margin: 6px;
    line-height: 300px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(../image/group-17@3x.png);
    text-align: center;
    border-radius: 20px;
}


/* Landscape */

@media screen and (max-width: 1024px) {
    .Tu-pones-las-ideas {
        font-size: 31px;
    }
    .nosotros-el-capital {
        font-size: 36px;
    }
    .Fcil-y-rpido-invi,
    .Para-equipo-de-produ,
    .production {
        font-size: 19px;
    }
    .Fcil-y-rpido-invi {
        padding: 43px 0 30px 34px;
    }
}


/* Portrait */

@media screen and (max-width: 768px) {
    .help_card01,
    .help_card02,
    .help_card03 {
        height: 333px;
    }
    .Te-ayudamos-a-crecer {
        padding: 42px 0 23px 0;
    }
    .Tu-pones-las-ideas,
    .nosotros-el-capital {
        padding: 0;
    }
    .Fcil-y-rpido-invi {
        padding: 10px 0 20px 0;
    }
    .Para-equipo-de-produ,
    .production {
        font-size: 21px;
    }
}


/* Phone */

@media screen and (max-width: 576px) {
    .Te-ayudamos-a-crecer {
        font-size: 22px;
        padding: 31px 0 18px;
    }
    .Tu-pones-las-ideas {
        font-size: 20px;
        padding: 28px 0 7px 0;
    }
    .nosotros-el-capital {
        font-size: 25px;
    }
    .Fcil-y-rpido-invi {
        font-size: 16px;
        padding: 6px 0 11px 0;
    }
    .help_card01,
    .help_card02,
    .help_card03 {
        height: 385px;
        margin: 0 35px 20px 35px;
        width: 100%;
    }
    .Para-equipo-de-produ,
    .production {
        font-size: 24px;
    }
}


/*** Testimonios css ***/

.Testimonios {
    font-family: 'Robotolight';
    font-size: calc(12px + 2vw);
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #00033d;
    padding: 44px 0;
}

video {
    width: 100%;
    padding: 15px;
    border-radius: 40px;
}

video:hover {
    cursor: pointer;
    outline: none;
}

video:focus {
    outline: none;
}

.Testimonio-de-Gerard {
    font-family: 'Robotobold';
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00033d;
    margin: 0 0 0 25px;
}

.video-play-button {
    position: absolute;
    z-index: 10;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
}

.video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 77px;
    height: 77px;
    background: #0E343E;
    border-radius: 50%;
}

.video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 77px;
    height: 77px;
    background: #0E343E;
    border-radius: 50%;
}

.video-play-button:hover:after {
    background-color: darken(#fa183d, 10%);
}

.video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 20px solid #40af28;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

.video-overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.80);
    opacity: 0;
    transition: all ease 500ms;
}

.video-overlay.open {
    position: fixed;
    z-index: 1000;
    opacity: 1;
}

.video-overlay-close {
    position: absolute;
    z-index: 1000;
    top: 15px;
    right: 20px;
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 200ms;
}

.video-overlay-close:hover {
    color: #fa183d;
}

.video-overlay iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}


/* Landscape */

@media screen and (max-width: 1024px) {
    .Testimonio-de-Gerard {
        font-size: 20px;
    }
    .video-play-button:before {
        width: 60px;
        height: 60px;
    }
    .video-play-button:after {
        width: 60px;
        height: 60px;
    }
}


/* Portrait */

@media screen and (max-width: 768px) {
    .Testimonio-de-Gerard {
        font-size: 18px;
    }
    .video-play-button:before {
        width: 45px;
        height: 45px;
    }
    .video-play-button:after {
        width: 45px;
        height: 45px;
    }
    .video-play-button span {
        border-left: 15px solid #40af28;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
}


/* Phone */

@media screen and (max-width: 576px) {
    .Testimonio-de-Gerard {
        font-size: 26px;
        margin: 0;
    }
    video {
        width: 80%!important;
        margin-top: 20px;
    }
    .testimonios_carousel {
        text-align: center
    }
    .video-play-button:before {
        width: 60px;
        height: 60px;
    }
    .video-play-button:after {
        width: 60px;
        height: 60px;
    }
}


/*** Ventajas-del-crdito css ***/

.Ventajas-del-crdito {
    font-family: 'Robotolight';
    font-size: calc(12px + 2vw);
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #00033d;
    padding: 90px 0 40px 0;
}

.white_credit {
    float: left;
    width: 33%;
    padding: 0 10px;
}

.green_credit {
    float: left;
    width: 33%;
    padding: 0 10px;
}

.white_credit .credit_card {
    box-shadow: 0 13px 13px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
}

.green_credit .credit_card {
    background-color: #113b47;
    box-shadow: 0 53px 53px 0 rgba(0, 0, 0, 0.5);
}

.credit_row {
    padding: 0 10% 70px 10%;
}

.credit_row:after {
    content: "";
    display: table;
    clear: both;
}

.credit_card {
    padding: 16px;
    text-align: center;
}

.white_credit_title {
    font-family: 'Robotobold';
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3b4750;
    padding: 22px 0 37px;
}

.white_credit_text {
    font-family: "Roboto";
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #3b4750;
    padding-bottom: 37px;
    position: relative;
    margin-left: 30px;
}

.white_credit_text i {
    color: black;
    font-size: 13px;
    position: absolute;
    top: 8px;
    left: -30px;
}

.green_credit_title {
    font-family: 'Robotobold';
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding: 22px 0 37px;
}

.green_credit_text {
    font-family: "Roboto";
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding-bottom: 37px;
    position: relative;
    margin-left: 30px;
}

.green_credit_text i {
    color: green;
    font-size: 13px;
    position: absolute;
    top: 8px;
    left: -30px;
}


/* Landscape */

@media screen and (max-width: 1024px) {
    .credit_row {
        padding: 0 10px 70px 10px;
    }
    .white_credit_text,
    .green_credit_text {
        font-size: 19px;
    }
}

@media screen and (max-width: 768px) {
    .credit_row {
        padding: 0 10% 20px 10%;
    }
    .white_credit {
        float: right;
        width: 50%;
        display: block;
        margin-bottom: 20px;
    }
    .green_credit {
        width: 50%;
        display: block;
        margin-bottom: 20px;
    }
    .white_credit_text {
        font-size: 24px;
        padding-bottom: 22px;
    }
    .green_credit_text {
        font-size: 24px;
    }
}

@media screen and (max-width: 576px) {
    .credit_row {
        padding: 0 10% 70px 10%;
    }
    .white_credit,
    .green_credit {
        float: left;
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .white_credit_text,
    .green_credit_text {
        font-size: 26px;
    }
}


/*** footer ***/

.footer_row {
    position: relative;
    background-color: #273f46;
    padding: 5% 10%;
    text-align: center;
}

.footer_logo {
    width: 183px;
    position: absolute;
    top: 15%;
    left: 10%;
}

.footer_div {
    padding: 0;
    margin-top: 30px;
}

.bitmap {
    width: 83px;
    position: absolute;
    top: 35%;
    left: 10%;
}

.footer_row p {
    font-family: "Roboto";
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 25px;
}

.footer_text01 {
    text-align: left;
}

.copyright {
    background-color: #273f46;
    padding-bottom: 50px;
    text-align: center;
}

.copyright_text {
    text-align: center;
    color: white;
    font-size: 16px;
}

.social_icons {
    text-align: left;
}

.social_icons img {
    margin-right: 20px;
}

.social_icons img:last-child {
    margin-right: 0;
}


/* Landscape $ Portrait */

@media screen and (max-width: 1024px) {
    .footer_row {
        padding: 5%;
    }
    .footer_logo {
        width: 160px;
        top: 40px;
        left: 20px;
    }
    .bitmap {
        width: 59px;
        top: 100px;
        left: 20px;
    }
    .footer_row p {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .bitmap {
        width: 66px;
        top: 40px;
        right: 20px;
        left: unset;
    }
    .footer_text01:first-child {
        margin-top: 60px;
    }
    .footer_row p {
        font-size: 19px;
    }
}


/* Phone */

@media screen and (max-width: 576px) {
    .footer_text01:first-child {
        margin-top: 0;
    }
    .footer_row {
        padding-top: 100px;
    }
    .copyright {
        padding: 0 50px 50px 50px;
    }
}


/* fixed css */

.mb_sliderHandler {
    height: 30px;
    width: 22px;
    background: url(../image/range_icon02.png);
    margin: -10px 0 0 0;
}

.mb_sliderValueLabel {
    border-top: none!important;
}

.mb_sliderStart,
.mb_sliderEnd {
    display: none!important;
}


/* slide */

.price-box {
    margin: 0 auto;
    background: #E9E9E9;
    border-radius: 10px;
    padding: 40px 15px;
    width: 500px;
}

.ui-widget-content {
    border: 1px solid #bdc3c7;
    background: #e1e1e1;
    color: #222222;
    margin-top: 4px;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 8.2em;
    height: 2.2em;
    cursor: default;
    margin: 0 -40px auto !important;
    text-align: center;
    line-height: 30px;
    color: #FFFFFF;
    font-size: 15px;
}

.ui-slider .ui-slider-handle .glyphicon {
    color: #FFFFFF;
    font-size: 13px;
    opacity: 0.5;
}

.ui-corner-all {
    border-radius: 20px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.9em;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    border: 1px solid #f9f9f9;
    background: #113b47;
}

.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.5em;
}

.ui-slider .ui-slider-handle {
    cursor: pointer;
}

.ui-slider span,
.ui-slider span:focus {
    cursor: pointer;
    outline: none;
}

.price,
.lead p {
    font-weight: 600;
    font-size: 32px;
    display: inline-block;
    line-height: 60px;
}

h4.great {
    background: #00ac98;
    margin: 0 0 25px -60px;
    padding: 7px 15px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    display: inline-block;
    -moz-box-shadow: 2px 4px 5px 0 #ccc;
    -webkit-box-shadow: 2px 4px 5px 0 #ccc;
    box-shadow: 2px 4px 5px 0 #ccc;
}

.total {
    border-bottom: 1px solid #7f8c8d;
    /*display: inline;
padding: 10px 5px;*/
    position: relative;
    padding-bottom: 20px;
}

.total:before {
    content: "";
    display: inline;
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 3px;
    background: #7f8c8d;
    opacity: 0.5;
}

.price-slider {
    margin-bottom: 70px;
}

.price-slider span {
    font-weight: 200;
    display: inline-block;
    color: #7f8c8d;
    font-size: 13px;
}

.form-pricing {
    background: #ffffff;
    padding: 20px;
    border-radius: 4px;
}

.price-form {
    background: #ffffff;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    /*-moz-box-shadow:    0 5px 5px 0 #ccc;
-webkit-box-shadow: 0 5px 5px 0 #ccc;
box-shadow:         0 5px 5px 0 #ccc;*/
}

.form-group {
    margin-bottom: 0;
}

.form-group span.price {
    font-weight: 200;
    display: inline-block;
    color: #7f8c8d;
    font-size: 14px;
}

.help-text {
    display: block;
    margin-top: 32px;
    margin-bottom: 10px;
    color: #737373;
    position: absolute;
    /*margin-left: 20px;*/
    font-weight: 200;
    text-align: right;
    width: 188px;
}

.price-form label {
    font-weight: 200;
    font-size: 21px;
}

img.payment {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.ui-slider-range-min {
    background: #2980b9;
}


/* HR */

hr.style {
    margin-top: 0;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}


/***************** Personal Data P1 Desktop **************/

.personal_row {
    display: flex;
}

.personal_div01 {
    padding: 196px 0 192px 25px;
    position: relative;
    background-color: #E8ECED;
    width: 33%;
    float: left;
    order: 0;
}

.personal_backimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.personal_text01 {
    font-family: 'Roboto';
    font-size: 40px;
    color: #00033d;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.personal_text02 {
    font-family: 'Robotobold';
    font-size: calc(20px + 2vw);
    color: #00033d;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin: 25px 0;
}

.personal_text03 {
    font-family: 'Roboto';
    font-size: 25px;
    color: #00033d;
    padding: 25px 0 78px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.personal_div02 {
    text-align: center;
    padding: 0 120px;
    width: 66%;
    float: left;
}

.personal_text04 {
    font-family: 'Robotobold';
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00033d;
    padding: 46px 0 36px;
    text-align: left;
}

.personal_input01 {
    width: 100%;
    padding: 17px 0 18px 15px;
    color: #00033d;
    border-radius: 6px;
    border: solid 1px #979797;
    display: block;
}

.personal_input02 {
    width: 49%;
    padding: 17px 0 18px 15px;
    color: #00033d;
    border-radius: 6px;
    border: solid 1px #979797;
}

.personal_select {
    width: 49%;
    padding: 17px 0 18px 15px;
    color: #00033d;
    border-radius: 6px;
    border: solid 1px #979797;
    float: left;
    font-size: 18px;
    width: 100%
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #f3969a;
}

.personal_input01::placeholder,
.personal_input02::placeholder {
    color: #00033d;
}

.personal_input01:focus,
.personal_input02:focus {
    outline: none
}

.personal_text05 {
    margin: 8px 0 25px 10px;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00033d;
    text-align: left;
}

.siguiente {
    border-radius: 36px;
    background-color: #40af28;
    font-family: 'Robotobold';
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border: none;
    padding: 10px 30px;
    margin-top: 25px;
}

.siguiente:focus {
    outline: none;
}


/* personal slide css */

.personalSlides {
    display: none
}

.personal-slideshow {
    position: relative;
    margin: auto;
}

.personal_prev,
.personal_next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.personal_prev {
    left: -30px;
    border-radius: 3px 0 0 3px;
}

.personal_next {
    right: -30px;
    border-radius: 3px 0 0 3px;
}

.personal_prev:hover,
.personal_next:hover {
    color: #40af28!important;
}

.personal_dots {
    margin: 50px 0 20px 0;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.personal_dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.personal_dot.active,
.personal_dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {
    .personal_prev,
    .personal_next,
    .text {
        font-size: 11px
    }
}

.effect2 {
    width: 49%;
}

.effect3 {
    width: 50%;
    float: right;
}

.effect4 {
    width: 49%;
    float: none;
}

.effect5 {
    width: 32%;
    float: left;
    margin-right: 8px;
}

.effect6 {
    width: 32%;
    float: right;
}

.alert-name {
    color: red;
}

.complete {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 20px;
    color: #BEEE62;
}


/* .input-effect.effect2:first-child {
width: 49%;
float: none;
} */

.form-control {
    height: unset;
}

.has-feedback .form-control-feedback {
    top: 12px;
    right: 10px;
}


/* .has-feedback .form-control {
padding-right: 10px;
} */


/*** Personal Data P1 Landscapte ***/

@media only screen and (max-width: 1024px) {
    .personal_div01 {
        padding: 151px 0 40% 18px;
    }
    .personal_div02 {
        /* padding: 0 30px; */
        padding: 0 14px;
    }
    .personal_text01 {
        font-size: 28px;
    }
    .personal_text02 {
        font-size: 36px;
        margin: 17px 0;
    }
    .personal_text03 {
        font-size: 16px;
        padding: 17px 0 46px;
    }
    #pesos {
        display: none;
    }
    .personal_dots {
        margin: 30px 0 20px 0;
    }
}


/*** Personal Data P1 Portrait  ***/

@media only screen and (max-width: 768px) {
    .personal_row {
        display: grid;
    }
    .personal_div01 {
        order: 1;
        width: 100%;
        padding: 50px 7px 30px;
    }
    .personal_div02 {
        width: 100%;
        padding: 0 50px;
    }
    .personal_backimg {
        width: 22%;
    }
    .personal_text01 {
        font-size: 30px;
    }
    .personal_text02 {
        font-size: 36px;
        margin: 38px 0 0 0;
    }
    .personal_text03 {
        font-size: 25px;
        padding: 0 0 33px;
    }
    .personal_text04 {
        margin-left: -18px;
    }
    .siguiente {
        margin-top: 21px;
    }
    .personal_dots {
        margin: 40px 0 25px 0;
    }
    #pesos {
        display: inline-block;
    }
}

@media only screen and (max-width: 576px) {
    .personal_div02 {
        padding: 0 8px;
    }
    .personal_backimg {
        width: 40%;
        top: 130px;
        height: 60%;
    }
    .personal_text02 {
        margin: 6px 0 0 0;
    }
    .personal_text03 {
        padding: 36px 0 30px;
    }
    .personal_text04 {
        margin-left: 0;
        font-size: 21px;
    }
    .personal_prev,
    .personal_next {
        display: none;
    }
    .personal_dots {
        margin: 30px 0 26px 0;
    }
    .effect2,
    .effect3,
    .effect4,
    .effect6 {
        width: 100%;
    }
    .effect5 {
        width: 49%;
        margin-right: 3px;
    }
}


/* forth form .... learn more about you */

.Queremos-saber-ms-d {
    font-family: 'Robotobold';
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #00033d;
    padding: 46px 0 0 0;
    text-align: left;
}

.knowmore_title {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1d2c51;
    text-align: left;
    margin-top: 20px;
}

.knowmore_btn {
    width: 100%;
    text-align: center;
    border-radius: 6px;
    border: solid 1px #979797;
    background: transparent;
    padding: 8px 0;
    margin-top: 17px;
}

.knowmore_btn:hover {
    background: #40af28;
    color: white;
}

.acceptance_title {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1d2c51;
    text-align: left;
    margin: 0 0 20px 0;
}

.checkbox {
    margin-top: 50px;
    text-align: left;
    width: 80%;
}

@media only screen and (max-width: 768px) {
    .personalSlides:last-child() {
        width: 80%;
    }
}

@media only screen and (max-width: 576px) {
    .checkbox {
        width: 100%;
    }
}


/* update the issues */

#date-picker-header {
    padding: 15px 30px;
    background-color: #273f46;
    margin-top: 60px;
    position: absolute;
    width: 100%;
    z-index: 9999;
}